[Unit]
Description=SakuraCloud AutoScaler Core Server

[Service]
User=autoscaler
EnvironmentFile=/etc/autoscaler/core.config
ExecStart=/usr/local/sbin/autoscaler server start $OPTIONS
Restart=always

[Install]
WantedBy=multi-user.target