[Unit]
Description=SakuraCloud AutoScaler AlertManager Inputs

[Service]
User=autoscaler
EnvironmentFile=/etc/autoscaler/inputs_alertmanager.config
ExecStart=/usr/local/bin/autoscaler inputs alertmanager $OPTIONS
Restart=always

[Install]
WantedBy=multi-user.target