#--------------------------------------
# API Key
#--------------------------------------
SAKURACLOUD_ACCESS_TOKEN="put-your-token"
SAKURACLOUD_ACCESS_TOKEN_SECRET="put-your-secret"

#--------------------------------------
# CommandLine options
#--------------------------------------
OPTIONS="--addr unix:/var/run/autoscaler/autoscaler.sock --config /etc/autoscaler/autoscaler.yaml --log-level info"

